import {IHttpResult} from "utils" ;
    <% _.forEach(datas , function(service){ %>
        import {<%= service.name %>} from ".<%= service.path %>" ;
    <% }) %>
    export { IHttpResult <% _.forEach(datas , function(service){ %>, <%= service.name %> <% }) %>};